# 변수
* 자료를 담는 택배상자
* 택배상자에는 자료를 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 or \_영문자 로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썽네서 사용하고 있는 함수명, 문법용 단어 ex) for, list, if, id)** 는 변수명으로 사용할 수 없다
    * **주의!!** 파이썬에서는 예약어를 써도 변수가 만들어진다.
    * 예약어로 변수를 만들지 않도록 주의!!
* 변수명은 스네이크 표기법으로 작성한다. ex) user_name
* 택배상자에 값이 하나만 들어간다. (하나 이후 또 넣어었다면 마지막에 넣은 것만 남음)

In [1]:
a=1

=은 같다가 아니라 넣는다 ==는 같다

In [2]:
print(a)

1

In [3]:
a

1

주피터 노트북에서만 a를 쳐도 바로 1이 나옴 , 주피터에서만 예약어 녹색으로 뜸

In [4]:
b=2

In [5]:
print(b)

2

In [6]:
id(a)

2557736216880

a라는 변수가 위 숫자의 위치에 있음

In [7]:
id(b)

2557736216912

In [8]:
id=10

In [9]:
print(id)

10

In [10]:
id(b)

TypeError: 'int' object is not callable

해결책=> kernel restart

# 변수명 작성하기
asgdfwesdfasdsdfw1231244235 = 10 해도 실행 됨

In [1]:
asgdfwesdfasdsdfw1231244235 = 10

In [2]:
1091029ad=10

SyntaxError: invalid syntax (2766076383.py, line 1)

In [3]:
$a=1

SyntaxError: invalid syntax (3681825173.py, line 1)

In [4]:
-a=1

SyntaxError: cannot assign to operator (670994230.py, line 1)

In [6]:
_a=1

In [7]:
# 변수명을 2단어 이상으로 만들 때는 _로 연결하는 스네이크 표기법을 쓴다
user_name = "홍길동"
user_name

'홍길동'

In [8]:
#변수명은 변수명만으로 안에 무엇이 있을지 예측 가능해야 한다.
all_reviews = "모든 리뷰"

In [9]:
review_one = "리뷰 한 개"

In [11]:
hap = 0

In [12]:
# 변수 지우기 del
print(hap)

0

In [13]:
del hap

In [14]:
print(hap)

NameError: name 'hap' is not defined

여러 개의 변수 동시에 만들고 자료 입력하기

In [16]:
a,b,c=1,2,3

In [17]:
print(a,b,c)

1 2 3

In [18]:
a,b,c=[5,6,7]

In [19]:
print(a,b,c)

5 6 7

In [22]:
a,b,c =(8,9,10)

In [23]:
a,b,c =(8,9) #개수를 맞춰야 함

ValueError: not enough values to unpack (expected 3, got 2)

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소수점이 없는 숫자)
* float: 실수(소수점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음[자료]
* tuple: list와 비슷하나 한 번 만들면 수정이 안 됨, 모든 자료형을 넣어 만들 수 있음(자료)
* dictionary(dict): key:value 쌍으로 이루어진 자료형, 모든 자료형 넣어 만들 수 있음 {key:value}
* set: 집합자료형, 자료의 중복이 되지 않음 {자료}

# 데이터 타입을 출력하는 함수 type(변수)
# 1. 정수형 변수(int)

In [25]:
a=10
print(a)
print(type(a))

10
<class 'int'>

# 2. 실수형 변수(float)

In [26]:
b=3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 문자형 변수(str)
* 문자형 데이터는 반드시 따옴표 \', \" 안에 작성해야 한다.
* 문자: 문자 1개
* 문자열: 문자가 여러개 있는 것, **열** 즉 **순서**가 있다.

In [27]:
c="문"
print(c)

문

In [28]:
c='문'
print(c)

문

In [29]:
c="문자열"
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 번수명[번호]형태로 해당 위치의 문자를 출력/추출 가능

In [30]:
c

'문자열'

In [32]:
c[1]

'자'

In [35]:
c[2]

'열'

In [39]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳에 넣고 줄바꿈을 할 수 있다."

In [40]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳에 넣고 줄바꿈을 할 수 있다.

In [41]:
long_char2="문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \ 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 긑에 넣고 \ 줄바꿈을 할 수 있다."

In [45]:
# 출력시 줄바꿈으로 하고 싶을 때 \n
long_char3="문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n \ 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 긑에 넣고 \n \ 줄바꿈을 할 수 있다."

In [46]:
print(long_char3)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
 \ 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 긑에 넣고
 \ 줄바꿈을 할 수 있다.

# 이스케이프 문자 없이 줄바꿈하며 입력하고 싶을 때
"""""", ''''''

In [50]:
long_char4="""문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 긑에 넣고
줄바꿈을 할 수 있다."""

In [51]:
print(long_char4)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 긑에 넣고
줄바꿈을 할 수 있다.

In [52]:
long_char4

'문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 긑에 넣고\n줄바꿈을 할 수 있다.'

# 문자열의 길이 재기 len(문자열/변수)

In [54]:
len("문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.\n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 긑에 넣고\n줄바꿈을 할 수 있다.")

74

# 문자열의 번호(index)는 길이-1
* len의 결과가 74일 경우 인덱스는 0-73번 까지

In [57]:
long_char[10]

'이'

# 문자의 덧셈, 곱셈
* 문자의 덧셈: 붙이기
* 문자의 곱셈: 반복

In [58]:
c="python"
d="쉬워요"

In [59]:
print(c,d)

python 쉬워요

In [60]:
e=c+d
print(e)

python쉬워요

In [62]:
#문자 + 문자 2==문자문자2
f=c+" "+d
print(f)

python 쉬워요

In [64]:
#문자 곱셈 == 문자의 반복
a="*"
b="Hello World"
print(a*11)
print(b)
print(a*11)

***********
Hello World
***********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱: 문자열에 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그 위치의 문자를 출력하는 것
    * 변수.[숫자].
* 슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것
    * 변수.[시작번호:끝번호+1:간격].

In [65]:
sliceing="슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것"

In [66]:
sliceing[0]

'슬'

In [67]:
sliceing[6:10]

'문자열에'

In [70]:
sliceing[::3]

'슬싱문에여인 를위묶 오것'

# 4. 리스트 list
* 리스트는 .[]. 안에 정수, 실수, 문자/문자열, 리스트, 튜플, 딕셔너리 를 모두 넣어서 만든다.
* 리스트는 여러 가지 자료가 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가/삭제가 가능하다.
* 문자열은 ", 리스트는 .[].로 묶어 여러 문자를 넣을 수 있는 것이다.-> 하나의 묶음이라고 보면 됨

In [71]:
a=[1,3.5, "삼", "사십오", [1,2,3], (4,5,6), {"key": "value"}]

In [73]:
print(a)

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [76]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [77]:
print(type(a))

<class 'list'>

In [79]:
print(type(a[3]))

<class 'str'>

# 리스트 안에 리스트/튜플 이 있는 경우?

In [80]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [82]:
a[3][2]

'오'

In [84]:
a[4][2]

3

# 중첩리스트

In [85]:
b=[1, 3.5, '삼', '사십오', [1, 2, [4,5,6,[7,8,9],10]], (4, 5, 6), {'key': 'value'}]

In [88]:
b[4][2][3][2]

9

# len 함수로 리스트 길이 구하기

In [89]:
len(b)

7

In [90]:
len(b[3])

3

In [92]:
len(b[4][2])

5

# 리스트에 자료 추가하기 .append(자료)
* append로 추가된 자료는 리스트의 가장 마지막에 추가 됨

In [93]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'}]

In [94]:
b.append(99)

In [95]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99]

In [96]:
b.append(99.999)

In [97]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999]

In [98]:
b.append(["일","이","삼"])

In [99]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼']]

In [100]:
b.append((1,2,3))
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3)]

In [101]:
b.append({"key2":"value2"})
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3),
 {'key2': 'value2'}]

In [102]:
del b[9]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3),
 {'key2': 'value2'}]

In [103]:
del b[10:12]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3)]

# 리스트 자료 수정하기

In [104]:
b[0]=1000
b

[1000,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, 6, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3)]

In [114]:
b2=[1]
print(b2,type(b2))

[1] <class 'list'>

# 5. 튜플 tuple
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type의 자료를 넣을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트보다 실행 속도가 빠르다.

In [111]:
t=(1,)

In [112]:
t

(1,)

In [109]:
t2=(2)
t2

2

In [113]:
print(type(t),type(t2))

<class 'tuple'> <class 'int'>

In [115]:
t3=(1,2.5,"문","문자열",[3,4,5],(5,6,7),{'key':'value'})
t3

(1, 2.5, '문', '문자열', [3, 4, 5], (5, 6, 7), {'key': 'value'})

In [116]:
t3[4][1]

4

In [117]:
t3[0:4]

(1, 2.5, '문', '문자열')

In [118]:
# 튜플은 자료 추가가 안됨
t3.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [119]:
# 튜플은 자료 수정도 안됨
t3[0]=100

TypeError: 'tuple' object does not support item assignment

In [120]:
#튜플은 자료 삭제가 안 됨
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# 6. 딕셔너리형(dict) JSON {'key":"value"}
* key와 value로 이루어진 데이터형
* json이라고도 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리의 key에는 list,dict는 올 수 없음
* key를 호출하면 value가 출력됨
* 딕셔너리는 순서가 없는 자료형

In [121]:
dict1 = {"이름":"홍길동", "나이":33, "키":175.4, "가족":['둘리','또치','도우너']}

In [128]:
print(dict1["이름"], type(dict1["이름"]))

홍길동 <class 'str'>

In [129]:
print(dict1["나이"],type(dict1["나이"]))

33 <class 'int'>

In [130]:
print(dict1["키"],type(dict1["키"]))

175.4 <class 'float'>

In [131]:
print(dict1["가족"],type(dict1["가족"]))

['둘리', '또치', '도우너'] <class 'list'>

In [133]:
dict1["가족"][0]

'둘리'

In [136]:
dict2 = {"가족":['둘리','또치','도우너',{"키":[145,155,165]}]}

# dict 에서 len은 key의 갯수

In [135]:
len(dict2)

1

In [138]:
dict2["가족"]

['둘리', '또치', '도우너', {'키': [145, 155, 165]}]

In [139]:
dict2["가족"][3]

{'키': [145, 155, 165]}

In [140]:
dict2["가족"][3]["키"]

[145, 155, 165]

In [141]:
dict2["가족"][3]["키"][1]

155

# 딕셔너리에 자료 추가/삭제하기
* 자료추가
    * 변수명['새로운 키'] = 새 자료 **key가 중복되면 안됨, 중복될 경우 나중 값으로 덮어쓰기 됨**
* 자료삭제
    * del변수명.["key"].

In [143]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [144]:
dict2['좋아하는 음식']=['짜장면', '짬뽕','볶음밥']

In [145]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}],
 '좋아하는 음식': ['짜장면', '짬뽕', '볶음밥']}

In [147]:
del dict2['가족'][3]

In [149]:
dict2

{'가족': ['둘리', '또치', '도우너'], '좋아하는 음식': ['짜장면', '짬뽕', '볶음밥']}

In [150]:
del dict2['좋아하는 음식']

In [151]:
dict2

{'가족': ['둘리', '또치', '도우너']}

In [152]:
dict2['가족']="대가족"

In [153]:
dict2

{'가족': '대가족'}

# 형변환 함수
* data type을 다른 data type으로 바꾸는 것
* int, float, str, list, tuple, dict

## 숫자나 인수를 실수로 형변환

In [154]:
a = 3.14

In [155]:
print(a,type(a))

3.14 <class 'float'>

In [156]:
print(int(a),type(int(a)))

3 <class 'int'>

In [157]:
b="3"
print(b,type(b))

3 <class 'str'>

In [159]:
b

'3'

In [160]:
int(a)

3

In [161]:
print(int(b),type(int(b)))

3 <class 'int'>

## float() 정수나, 문자를 실수로 형변환

In [162]:
c=200
print(c,type(c))

200 <class 'int'>

In [163]:
print(float(c),type(float(c)))

200.0 <class 'float'>

In [164]:
c=float(c)

In [166]:
c

200.0

In [167]:
d="3.14"
print(d,type(d))

3.14 <class 'str'>

In [170]:
d=float(d)
print(d,type(d))

3.14 <class 'float'>

## str() 숫자나, 다른 자료형을 문자로 변환

In [172]:
a=10
b=34.5
c=[1,2,4,"오"]
d=("육",7,8.5,9)
e={3:[1,2,3]}

In [177]:
print(str(a),type(str(a)))
print(str(b),type(str(b)))
print(str(c),type(str(c)))
print(str(d),type(str(d)))
print(str(e),type(str(e)))

10 <class 'str'>
34.5 <class 'str'>
[1, 2, 4, '오'] <class 'str'>
('육', 7, 8.5, 9) <class 'str'>
{3: [1, 2, 3]} <class 'str'>

## list() 튜플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [180]:
print(d,list(d),type(list(d)))

('육', 7, 8.5, 9) ['육', 7, 8.5, 9] <class 'list'>

In [181]:
c=str(c)
print(c,type(c))

[1, 2, 4, '오'] <class 'str'>

In [182]:
print(list(c),type(list(c)))

['[', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ']'] <class 'list'>

In [183]:
d=list(d)
print(d,type(d))

['육', 7, 8.5, 9] <class 'list'>

In [185]:
d.append("튜플을 리스트로 변환 후 자료 입력")

In [186]:
d

['육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력', '튜플을 리스트로 변환 후 자료 입력']

## tuple() 리스트를 튜플로 변환

In [187]:
d=tuple(d)
print(d,type(d))

('육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력', '튜플을 리스트로 변환 후 자료 입력') <class 'tuple'>

# 연산자의 종류

## 산술연상자 +,-,*,/,%,//,**

In [190]:
# 덧셈
1+1

2

In [191]:
#뺄셈
3-2

1

In [193]:
a=3
b=2

In [194]:
a+b

5

In [197]:
#곱셈
a*b

6

### 나눗셈을 할 경우 데이터 타입이 정수에서 실수로 바뀐다.

In [196]:
#나눗셈의 결과는 반드시 실수로 나온다
b/a

0.6666666666666666

In [ ]:
a=5, b=2

In [205]:
# 나머지 연산자 % 나눈 후 나머지만 출력\
#홀수, 짝수 구분시 주로 사용 % 2 ==0 짝수 %2==1 홀수
# 배수를 구할 때 사용 %3--0 3의 배ㅐ수 %7==0 7의 배수
print(a/b)
print(a%b)
print(6%2)

1.5
1
0

In [207]:
# //나눗셈 후 몫만 촐력
print(5/2)
print(5//2)

2.5
2

In [208]:
# #**제곱
print(2**7)

128

## 할당연산자
* =, +=, -=, *=, /=, %=

In [209]:
#오른쪽에 있는 자료를 왼쪽 변수에 집어 넣는 할당 연산자 
a=10
a

10

In [212]:
# b= b+10 => b +=10
b +=10
b

32

In [214]:
#b=b-2 => b -= 2
b -= 2
b

28

In [215]:
# b=b*3 => b *=3
b*=3
b

84

In [216]:
#b =b/5 => b/=5
b /=4
b

21.0

In [217]:
#b=b%2 => b%=2
b%=2
b

1.0

# 비교 연산자
* 같다 == 
* 다르다 !=
* 초과 >
* 이상 >=
* 미만 <
* 이하 <=

In [219]:
a=3
b=3.0
c=5
d="Python"
e='python'
f=True
g=False

* == 같으면 True, 다르면 False

In [220]:
a==b

True

In [221]:
a==c

False

In [222]:
d==e

False

In [223]:
f==g

False

* 같으면 False, 다르면 True

In [225]:
a!=b

False

In [226]:
a!=c

True

In [227]:
d!=e

True

In [228]:
f!=g

True

* \> 왼쪽 값을 오른쪽 값과 비교해서 크면 True(초과) 
* \< 왼쪽 값을 오른쪽 값과 비교해서 작으면 True(미만)
* \>= 왼쪽 값을 오른쪽 값과 비교해서 크거나 같으면 True(이상) 
* \<= 왼쪽 값을 오른쪽 값과 비교해서 작거나 같으면 True

In [229]:
5>=3

True

In [230]:
5>3

True

In [231]:
5<=3

False

In [232]:
5<3

False

In [233]:
5<5

False

In [234]:
5<=5

True

# 논리 연산자
* and, or, not

* and: 왼쪽과 오른쪽 값 모두 True 일 때 True, 하나라도 False면 False

In [235]:
#true and true
3==3 and 5>3

True

In [238]:
# false and true
3<3 and 5>3

False

In [237]:
# true and false
3==3 and 5<3

False

In [239]:
#false and false
3<3 and 5<3

False

* or: 왼쪽이나 오른쪽 중 하나라도 True 면 True, 둘 다 False 일 때만 False

In [240]:
# True or True
3==3 or 5>3

True

In [241]:
# False or True
3>3 or 5>3

True

In [243]:
# True or False
3==3 or 5<3

True

In [245]:
# False or False
3>3 or 5<3

False

* not: 값을 반대로 뒤집음 True => False, False=>True

In [246]:
not True

False

In [248]:
not False

True

In [251]:
not 3>3 and not 5<3

True

* not, and, or 의 순위
* not > and > or

In [252]:
not True and False or not False
# false and false or true
# false or true

True

In [253]:
10==10 and 10!=5
#true and true

True

# 식별연산자
* is, is not(data type 까지 같은지 비교)

In [254]:
print(a)
print(b)
print(c)

3
3.0
5

In [255]:
# ==는 값만 같으면 True 처리, is는 값이 같아도 데이터 타입이 다르면 False
print(a==b)
print(a is b)

True
False

In [256]:
d = 3

In [257]:
# a와 d 모두 int 3이기 때문에 True
print(a is d)

True

In [259]:
# is not 은 둘이 다르면 True
print(a is not b)

True

# 멤버연산자
* in, not in
* list나 truple, dict 안에 원하는 값이 있는지 찾을 때 사용

In [261]:
mem =[1,2,3,4,5,"육"]

In [262]:
3 in mem

True

In [263]:
6 in mem

False

In [264]:
6 not in mem

True

In [265]:
3 not in mem

False

# 문자열 함수 .replace("찾을 값", "바꿀 값")

In [266]:
c = "010-1111-2222"
c

'010-1111-2222'

In [267]:
c.replace("-",".")

'010.1111.2222'

In [270]:
c=c.replace("-",".")
c

'010.1111.2222'