# 딕셔너리 사용하기
* dict타입, json 타입이라고도 함
* web에서 자료를 주고 받을 때 주로 사용하는 형식(api)
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나옴
* key에는 list, dict를 제외한 자료형이 올 수 있음
* value에는 모든 자료형이 올 수 있음

# 딕셔너리 만들기
* 중괄호 안에 key: value 쌍으로 만든다.
* 빈 딕셔너리 생성 가능 {}
* dict()함수를 이용해서 대량의 딕셔너리 생성 가능

In [1]:
d={"년월": "20250924","국가" : "미국", "방문자수":1000}
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [3]:
d['년월']

'20250924'

In [4]:
d2={}
print(d2,type(d2))

{} <class 'dict'>

## dict key의 자료형
* list, dict를 제외한 나머지 자료형으로 만듦
* 정수, 실수, 문자열, 블린(True,False), Tuple

In [6]:
d3={"백": 100, 100:"백",3.5:[3.5,3.7], False:0, (0,"서울"):"강남구"}
d3

{'백': 100, 100: '백', 3.5: [3.5, 3.7], False: 0, (0, '서울'): '강남구'}

In [7]:
d3={"백": 100, 100:"백",3.5:[3.5,3.7], False:0, (0,"서울"):"강남구",[1,2]:123}
d3

TypeError: unhashable type: 'list'

In [8]:
# 문자열 키
d3["백"]

100

In [9]:
# 정수 키
d3[100]

'백'

In [11]:
# 실수 키
d3[3.5]

[3.5, 3.7]

In [12]:
# 튜플 키
d3[(0, '서울')]

'강남구'

## 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [18]:
d4={"정수":100, "실수":3.5, "문자열":"딕셔너리의 값",
   "리스트":[1,2,3,4],"튜플":(5,6,7,8),
   "딕셔너리":{"key":"value"}, "블린":True}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [19]:
d4["정수"]

100

In [20]:
d4["실수"]

3.5

In [21]:
d4["튜플"]

(5, 6, 7, 8)

In [22]:
d4["딕셔너리"]

{'key': 'value'}

## 빈 딕셔너리 만들기
* 변수={}
* 변수=dict()

In [23]:
d5={}
print(d5,type(d5))

{} <class 'dict'>

In [24]:
d6=dict()
print(d6,type(d6))

{} <class 'dict'>

## 딕셔너리에 자료 추가하기
* 변수['key'] = value
* 이미 key가 있는 경우에는 자료가 수정됨, 나중에 입력한 자료로 덮어쓰기 됨

In [26]:
d5

{}

In [27]:
d5['번호']=0
d5

{'번호': 0}

In [28]:
d5["리스트"]=[1,2,3]
d5

{'번호': 0, '리스트': [1, 2, 3]}

In [30]:
# 이미 키가 있는 경우 나중 값으로 대체됨
d5["리스트"]=[1,2,3,4]
d5

{'번호': 0, '리스트': [1, 2, 3, 4]}

In [31]:
d7={'번호':0, '이름':'홍길동',"나이":35,'
    '번호':1, '이름':'둘리',"나이":15'}
d7

SyntaxError: EOL while scanning string literal (499282815.py, line 1)

# dict 함수를 이용해서 dict 만들기
* dict(key1=value1, key2=value2, key3=value3)
* key 부분에 ""(따옴표)를 사용하지 않음
* key는 모두 문자형으로 변환됨
* value가 문자형이면 반드시 "":가 필요함

In [32]:
dict_ex1=dict(정수=100,실수=3.5,문자="문자열",
             리스트=[1,2,3],튜플=(4,5,6),딕셔너리={'key':'value'})
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'}}

* dict([(key1,value1),(key2,value2),(key3,value2)])
* 리스트 안에 key, value 쌍으로 된 튜플을 넣어서 만듦
* key는 자료형에 맞춰서 작성

In [35]:
dict_ex2=dict([(1,10),(3.5,"3.5"),("문자열","문자열입니다."),
              ("list",[1,2,3]),("tuple",(4,5,6)),("dict",{"key":"value"})])
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

* dict(zip([key1, key2, key3],[value1,value2,value3]))
* key 묶음 리스트와 value 묶음 리스트를 zip함수로 합친 후 dict 생성
* key 묶음의 요소 개수와 value 묶음의 요소 개수가 일치해야 함

In [37]:
# zip함수 예시
for i in[1,2,3] :
    print(i,end=" ")

1 2 3

In [39]:
for i in zip([1,2,3],[4,5,6],[7,8]) :
    print(i,end=" ")

(1, 4, 7) (2, 5, 8)

In [42]:
dict_ex3= dict(zip(["정수","실수","문자열"],[10,12.5,"문자열입니다"]))
dict_ex3

{'정수': 10, '실수': 12.5, '문자열': '문자열입니다'}

## 딕셔너리에 값 입력, 수정, 삭제하기

In [44]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [45]:
dict_ex2["new key"]="새로운 데이터"
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

## 딕셔너리 안에 있는 list value에 새로운 값 추가, 수정, 삭제

In [53]:
# 정수, 문자열
dict_ex2[1]+float(dict_ex2[3.5])

13.5

In [47]:
dict_ex2["list"].append(4)
dict_ex2["list"]

[1, 2, 3, 4]

In [48]:
max(dict_ex2["list"])

4

In [50]:
dict_ex2["list"].insert(2,30)
dict_ex2["list"]

[1, 2, 30, 30, 3, 4]

In [51]:
dict_ex2["list"][2]=33
dict_ex2["list"]

[1, 2, 33, 30, 3, 4]

In [54]:
dict_ex2["list"].pop()

4

In [55]:
dict_ex2["list"]

[1, 2, 33, 30, 3]

In [56]:
dict_ex2["list"].remove(2)
dict_ex2["list"]

[1, 33, 30, 3]

In [58]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 30, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [60]:
dict_ex2["dict"]["key2"]="value2"
dict_ex2["dict"]

{'key': 'value', 'key2': 'value2'}

In [61]:
del dict_ex2["dict"]["key2"]
dict_ex2["dict"]

{'key': 'value'}

In [62]:
# pop() 을 이용해서 삭제-> 반드시 key를 넣어주어야 한다.
dict_ex2.pop("new key")

'새로운 데이터'

In [63]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 30, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [64]:
dict_ex2.pop('문자열')
dict_ex2

{1: 10,
 3.5: '3.5',
 'list': [1, 33, 30, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

## 딕셔너리 안에 특정 key가 있는지 확인하기
* in, not in

In [66]:
"정수" in dict_ex1

True

In [67]:
"정수2" in dict_ex1

False

## 딕셔너리 안에 key가 몇 개 있는지 확인하기
* len()
* key의 개수만 출력
* 가장 외부의 key 개수만 카운트, 내부 딕셔너리의 key는 따로 꺼내서 세야 함

In [68]:
data={"info":[{"name":"alice","scores":(95,88,92)},
             {"name":"bob","scores":(78,85,89)}],
     "extra":{"hobbies":["reading","coding"],"location":("seoul","busan")}
     }
data

{'info': [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')}}

In [69]:
len(data)

2

In [71]:
len(data["info"][0])

2

In [74]:
# dict-list-dict-tuple-int
data["info"][0]["scores"][0]

95

# 딕셔너리 함수 사용하기

## setdefault(key, value) 딕셔너리에 자료 추가
* 딕셔너리에 key와 value를 추가
* key가 중복되면 나중에 추가하는 값을 무시(원래 자료 보존)
* key만 넣고 value를 생략하면 자동으로 none 이 입력됨

In [76]:
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [77]:
d["년월"]='20240924'
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [78]:
# 기존에 key가 있는 경우 기존 key 의 value를 출력하고 새로운 값은 무시
d.setdefault("년월", 20250924)
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [79]:
d.setdefault("날씨","맑음")
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [80]:
for i in range(1,11): 
    d.setdefault("숫자",[]).append(i)
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

# update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key와 value 생성
* key 부분에는 "' 를 사용하지 않음
* 기존에 key가 없어 새로 추가하는 경우 key 부분에는 문자형 키만 들어올 수 있음
* update는 문자형 key만 업데이트 가능

In [81]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [82]:
d.update(방문자수=500)

In [83]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [84]:
d.update(바람='강함')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함'}

In [86]:
d.update(100='백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2659136881.py, line 1)

In [87]:
d[3]=300
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 3: 300}

## 딕셔너리에서 value를 가져오는 함수 .get()
* 딕셔너리에서 value를 보고 싶을 때는 key를 호출하면 됨
* 만약 딕션리 안에 key가 없는데 호출하는 경우 오류 발생
* .get("key","key가 없을 때 출력할 내용") key가 없어도 오류 발생 x , 기본값 출력
* 딕셔너리 내에 key가 있다가 없다가를 반복하는 경우 오류 방지

In [88]:
d["바람"]

'강함'

In [89]:
d["강수량"]

KeyError: '강수량'

In [90]:
d.get("강수량","해당 키 없음")

'해당 키 없음'

## 딕셔너리에서 key, value, key+value 가져오는 함수
* keys(): 딕셔너리에서 key만 출력
* values(): 딕셔너리에서 value만 출력
* items(): 딕셔너리에서 key, value를 튜플 묶음 형태로 출력 (key, value)
* 위의 세 함수의 결과를 list()로 형변환을 해주면 list처럼 사용 가능

In [94]:
keys=list(data.keys())
print(type(data.keys()),type(list(data.keys())))

<class 'dict_keys'> <class 'list'>

In [95]:
keys[0]

'info'

In [100]:
list(data["info"][0].keys())[0]

'name'

In [103]:
# values
values=data.values()
values

dict_values([[{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}], {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')}])

In [105]:
values=list(values)
values

[[{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')}]

In [106]:
values[0][1].values()

dict_values(['bob', (78, 85, 89)])

In [107]:
# items 는 (key, value) 형식으로 출력
data.items()

dict_items([('info', [{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')})])

In [108]:
items=list(data.items())
items

[('info',
  [{'name': 'alice', 'scores': (95, 88, 92)},
   {'name': 'bob', 'scores': (78, 85, 89)}]),
 ('extra', {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')})]

In [109]:
items[0]

('info',
 [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}])

In [110]:
items[1]

('extra', {'hobbies': ['reading', 'coding'], 'location': ('seoul', 'busan')})

In [111]:
d.keys()

dict_keys(['년월', '국가', '방문자수', '날씨', '숫자', '바람', 3])

In [112]:
d.values()

dict_values(['20240924', '미국', 500, '맑음', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], '강함', 300])

In [113]:
d.items()

dict_items([('년월', '20240924'), ('국가', '미국'), ('방문자수', 500), ('날씨', '맑음'), ('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('바람', '강함'), (3, 300)])

In [114]:
for key in d.keys():
    print(key)

년월
국가
방문자수
날씨
숫자
바람
3

In [115]:
for value in d.values():
    print(value)

20240924
미국
500
맑음
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
강함
300

In [117]:
for key, value in d.items():
    print("key: ", key ,"value: ",value)

key:  년월 value:  20240924
key:  국가 value:  미국
key:  방문자수 value:  500
key:  날씨 value:  맑음
key:  숫자 value:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
key:  바람 value:  강함
key:  3 value:  300

In [118]:
for item in d.items():
    print(item)

('년월', '20240924')
('국가', '미국')
('방문자수', 500)
('날씨', '맑음')
('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
('바람', '강함')
(3, 300)