# 함수 만들기
* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변형시키거나 하는 작업을 해줌
* function=> 기능=> 만들어 놓은 도구
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용** 을 할 수 있게 만든 것

In [1]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력하세요.
# result=[10,20,30,40]
l=[1,2,3,4]
result=[]
for i in l:
    result.append(i*10)
result

[10, 20, 30, 40]

In [3]:
# 자료를 넣으면 10을 곱해서 출력하는 함수
def mul10(num):
    result_in_func =[]
    for i in num:
        result_in_func.append(i*10)
    print(result_in_func)
    return result_in_func

In [4]:
mul10(l)

[10, 20, 30, 40]

[10, 20, 30, 40]

In [6]:
l2=[4,5,6,7]

In [7]:
mul10(l2)

[40, 50, 60, 70]

[40, 50, 60, 70]

# 함수 만드는 법
def 함수이름(변수명1,변수명2,...):<br>
____실행코드<br>
____return 반환할 값(결과)

In [8]:
def hello():
    print("hello python 함수 만들기")

In [9]:
hello()

hello python 함수 만들기

# 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어야 함)
* 함수 정의가 함수 실행보다 위에 있어야 함

In [13]:
hello2()

hello2 python 만들기

In [12]:
def hello2():
    print("hello2 python 만들기")
    # vs코드라면 실행 안됨 주피터라서 되는것임

# 함수의 매개변수
* 함수 () 안에 받는 값을 저장하는 함수
* ()안에 값을 받아서 **함수 내에서 처리할 때 사용**
* 함수에서 사용하는 매개변수는 함수 외부에서 사용 불가

In [14]:
# 매개 변수 1개짜리 함수
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c):
    print(f"반지름의 길이가 {c}인 원의 넓이는: {c*c*3.14}입니다.")

In [15]:
circle(10)

반지름의 길이가 10인 원의 넓이는: 314.0입니다.

* 매개변수 2개짜리 함수
* 2개 자료를 가지고 사칙연산 하는 함수

In [16]:
def add(a, b):
    return a+b

In [17]:
add(3,5)

8

In [18]:
# 매개변수가 2개인데 자료를 1개만 넣으면?에러
# 매개변수와 입력 자료의 개수는 동일해야 함
add(2)

TypeError: add() missing 1 required positional argument: 'b'

# 함수값 반환 return
* 함수에 return이 없으면 함수가 실행된 후 반환되는 값은 None
* 함수 실행시 print가 되는 내용은 단지 화면상에 출력했을 뿐임

In [21]:
def add_noreturn(a, b,c):
    print (a+b+c)

In [22]:
def add_return(a, b,c):
    return a+b+c

In [23]:
add_noreturn(10,20,30)

60

In [24]:
add_return(10,20,30)

60

In [25]:
result1=add_noreturn(10,20,30)
print(result1)

60
None

In [26]:
result2=add_return(10,20,30)
print(result2)

60

# 리턴 값이 여러개인 함수

In [27]:
def add_sub(a,b):
    add=a+b
    sub=a-b
    return add, sub

In [30]:
result3=add_sub(10,20)
print(result3)

(30, -10)

In [34]:
result3_a, result3_s=add_sub(10,20)
print(result3_a, result3_s, type(result3_a),type(result3_s))

30 -10 <class 'int'> <class 'int'>

* num_maker- 정방향, 역방향 리스트가 출력되는 함수
* 3개의 숫자를 입력받아서 숫자 리스트를 만들고, 오름차순 출력
* 만들어진 리스트에 +3을 할 결과를 리스트로 만들고, 내림차순 반환
* ragne(a,b,c)
* return list_result, reversed_list

In [57]:
def num_maker(start, end, step):
    list_result=list(range(start,end+1,step))
    reversed_result=[]
    for i in list_result:
        reversed_result.append(i+3)
    return list_result,reversed_result[::-1]

In [58]:
num_maker(5,7,3)

([5], [8])

In [61]:
def num_maker (start, end, step):
    list_result = list(range(start, end, step))
    reversed_result = [i+3 for i in list_result]

    return list_result, reversed_result [ ::- 1]

In [62]:
num_maker(1,10,1)

([1, 2, 3, 4, 5, 6, 7, 8, 9], [12, 11, 10, 9, 8, 7, 6, 5, 4])

# 중간에 함수를 종료시키기 위한 용도의 return
* return을 반복문에 break처럼 활용 가능
* 함수 내에서 return이 실행되면 함수는 종료

* 1-100까지 숫자 중에서 짝수만 더해서 출력하시오.
* 단, 숫자가 50이상 되면 멈추고 결과를 리턴하세요
* 중간에 더해지는 과정도 출력하세요
* even()를 작성하세요

In [52]:
num=list(range(1,101))

In [75]:
def even(num):
    hap=0
    for i in num:
        if i >=50:
            break
        else:
            if i %2==0:
                hap+=i
                print(hap,end=" ")
    return hap

In [76]:
result=even(num)
print(result)

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600 600

In [82]:
def even2(num):
    hap=0
    for i in num:
        if i >=50:
            return hap
        else:
            if i %2==0:
                hap+=i
                print(hap,end=" ")

In [83]:
even2(num)

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600

600

* 점수 입력 받아서 A학점-F학점 출력

In [85]:
def student_grade(score):
    result=""
    if 91<= score <=100:
        result="A학점"
    elif 81<=score<=90:
        result="B학점"
    elif 71<=score<=80:
        result="C학점"
    elif 61<=score<=70:
        result="D학점"
    else:
        result="F학점"
    return result

In [86]:
score=int(input("숫자를 입력해주세요"))
student_grade(score)

숫자를 입력해주세요80

'C학점'

In [88]:
def student_grade2(score):
    if 91<= score <=100:
        return "A학점"
    elif 81<=score<=90:
        return "B학점"
    elif 71<=score<=80:
        return "C학점"
    elif 61<=score<=70:
        return "D학점"
    else:
        return "F학점"

In [89]:
score=int(input("숫자를 입력해주세요"))
student_grade2(score)

숫자를 입력해주세요81

'B학점'

# 인수: 함수에 집어넣는 자료
## 1) 위치 인수(positional argument)
* 위치가 고정된 인수
* 순서가 바뀌거나 개수가 달라지면 오류, 엉뚱한 값이 나옴

## 2) 가변 위치인수(args, Variable-length Arguments)
* 여러 개의 자료를 넣을 수 있는 인수, 제한 없음
* print(자료1, 자료2, 자료3)

## 3) 키워드 인수(keyword arguments)
* 매개변수에 이름을 명시해서 인수를 넣어주는 것
* sep=" ", end=" "
* 위치가 변경되어도 상관 없음
## 4) 가변 키워드 인수(kwargs, Variable-length keyword arguments)
* 키워드 인수를 숫자 제한 없이 넣는 경우 사용
* 함수의 매개변수 넣는 곳에서 가장 마지막에 위치해야 함

In [91]:
print(1,2,3,end=" ",sep=", ")
print(1,2,3,end="")

1, 2, 3 1 2 3

## 위치인수(positional arguments)
* 넣는 순서와 개수를 일치시켜야 함

In [92]:
def print_nums(a,b,c):
    print(a,b,c)

In [95]:
# 매개변수가 3개라서 위치인수를 3개 주어야 하지만 2개만 주어서 오류
print_nums(1,2)

TypeError: print_nums() missing 1 required positional argument: 'c'

In [96]:
# 매개변수가 3개라서 위치인수를 3개 주어야 하지만 4개를 주어서 오류
print_nums(1,2,3,4)

TypeError: print_nums() takes 3 positional arguments but 4 were given

In [97]:
l1=[1,2,3]

In [98]:
# 매개변수가 3개라서 위치인수를 3개 주어야 하지만 4개를 주어서 오류
print_nums(l1)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

### 함수 안에서 리스트를 반복문 없이 풀기 
* *list, *tuple

In [99]:
print_nums(*l1)

1 2 3

In [102]:
print(*l1)

1 2 3

## 가변 위치 인수(args, Variable-length Arguments)
* 자료의 개수를 제한없이 넣을 수 있는 인수
* 함수 안의 매개변수 자리에 *args 라고 만들어 줌
* args는 관용적 표현, 변수명은 아무거나 주고 앞에 *만 붙이면 됨
* 가변위치인수는 자료를 tuple로 변환해서 받음

In [105]:
def print_nums2(*nums):
    print(nums)
    return nums

In [107]:
result=print_nums2(12,3,4,3,2,112)
print(result,type(result))

(12, 3, 4, 3, 2, 112)
(12, 3, 4, 3, 2, 112) <class 'tuple'>

* 여러개의 숫자를 입력하면 총합을 구해주는 함수

In [108]:
def my_sum(*args):
    hap=0
    for i in args:
        hap+=i
    return hap

In [109]:
my_sum(2,6,5,1,6,2,5,1)

28

In [112]:
h=list(range(1,101))

In [113]:
my_sum(*h)

5050

In [110]:
my_sum(*(range(1,51)))

1275

In [114]:
def my_sum(*args):
    return sum(args)

In [115]:
my_sum(*h)

5050

### 위치인수와 가변인수 동시에 받기
* 위치인수와 가변인수를 동시에 받을 때는 반드시 **위치인수**가 먼저 와야 함
* def add(a, *args) (o)
* def add(*args, a) (x)

In [116]:
# 정수 1개와 리스트를 입력받아 리스트의 요소에 정수를 곱하는 함수
def muls(*args, a):
    print(args,a)
    result=[]
    for num in args:
        result.append(args*a)
    return result

In [117]:
muls(*h,2)

TypeError: muls() missing 1 required keyword-only argument: 'a'

In [125]:
# 정수 1개와 리스트를 입력받아 리스트의 요소에 정수를 곱하는 함수
def muls(a,*args):
    print(a,args)
    result=[]
    for num in args:
        result.append(num*a)
    return result

In [126]:
muls(2,*h)

2 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

## 키워드 인수
* 인수를 함수에 입력할 때 매개변수 이름을 직접 입력하고 자료를 할당하는 것
* print(sep="-",end="\r)

In [127]:
# 개인정보를 출력하는 함수
def personal_info(name, age, address):
    print(f"이름:{name}")
    print(f"나이:{age}")
    print(f"주소:{address}")

In [130]:
personal_info("서울시","홍길동",30)

이름:서울시
나이:홍길동
주소:30

In [131]:
personal_info(age=10, address="고양시",name="둘리")

이름:둘리
나이:10
주소:고양시

### 키워드 인수는 기본값 설정 가능

In [132]:
def personal_info2(name, age, address="안 알려 줌"):
    print(f"이름:{name}")
    print(f"나이:{age}")
    print(f"주소:{address}")

In [133]:
personal_info2("홍길동",40)

이름:홍길동
나이:40
주소:안 알려 줌

### 매개변수에 기본값을 설정했을 경우 위치

In [134]:
def personal_info3(name, *nums, address="안 알려 줌"):
    print(f"이름:{name}")
    print(f"좋아하는 숫자:{nums}")
    print(f"주소:{address}")

In [135]:
personal_info3("홍길동", 1,2,3,4,5,6,7, address="안 알려 줌")

이름:홍길동
좋아하는 숫자:(1, 2, 3, 4, 5, 6, 7)
주소:안 알려 줌

In [136]:
personal_info3("홍길동", 1,2,3,4,5,6,7)

이름:홍길동
좋아하는 숫자:(1, 2, 3, 4, 5, 6, 7)
주소:안 알려 줌

In [137]:
# 기본 값이 적용된 키워드 인수는 함수의 가장 마지막에 넣어야 한다.
def personal_info4(name, address="안 알려 줌", *nums):
    print(f"이름:{name}")
    print(f"좋아하는 숫자:{nums}")
    print(f"주소:{address}")

In [138]:
personal_info4("홍길동",1,2,3,4,5)

이름:홍길동
좋아하는 숫자:(2, 3, 4, 5)
주소:1

## 키워드 가변인수
* def함수명(**kwargs)
* 입력받는 자료가 address="안 알려줌" 변수명=자료 형태인 것
* 키워드 가변인수는 함수 내에서 dict로 변환되어 사용

In [147]:
def personal_info3(**kwargs):
    print((kwargs, type(kwargs)))
    key=list(kwargs.keys())
    values=list(kwargs.values())
    return key,values

In [148]:
personal_info3(name="홍길동",age=40, address="서울")

({'name': '홍길동', 'age': 40, 'address': '서울'}, <class 'dict'>)

(['name', 'age', 'address'], ['홍길동', 40, '서울'])

## 위치 인수와 키워드 가변인수 같이 사용하기
* 위치인수 다음에 키워드 가변수가 와야함

In [ ]:
def personal_info4(num,**kwargs):
    print((kwargs, type(kwargs)))
    key=list(kwargs.keys())
    values=list(kwargs.values())
    print(num)
    print(key)
    print(values)
    return key,values

In [150]:
personal_info4(1,address="서울시",name="홍길동")

TypeError: personal_info4() got multiple values for argument 'name'

In [152]:
# 가변 키워드인수는 반드시 위치인수보다 뒤에 와야한다
def personal_info5( ** kwargs,num):
print (kwargs, type(kwargs))
key = list(kwargs.keys())
values = list (kwargs.values())
print(num)
print (key)
print (values)
return key, values

SyntaxError: invalid syntax (1889238671.py, line 2)

## 가변인수와 키워드 가변인수 함께 쓰기
* 가변인수=>키워드 가변인수 순으로 쓴다
* def변수명(*args, **kwargs)Z

In [159]:
def my_print(*args,**args):
    print(args,kwargs)
    print(*args, **kwargs)

SyntaxError: duplicate argument 'args' in function definition (3823088429.py, line 1)

In [161]:
my_print(1,2,3,sep="||",nd="!!"")

SyntaxError: positional argument follows keyword argument (1953726476.py, line 1)

### 위치인수, 가변위치인수, 키워드인수, 키워드 가변인수, 기본값이 설정된 키워드 인수 같이 쓰기
* 위치인수->가변 위치->기본값 설정된 미워드인수=>키워드 가변인수

In [171]:
def personal_info6(idx,address="비공개",*args,**kwargs):
    print(f"idx:{idx}")
    print(f"address:{address}")
    print(f"*args:{args}")
    print(f"**kwargs:{kwargs}")

In [172]:
personal_info6(1,"서울",30,40,50, 학교="구름대학교",전공="핀테크거서비스기획")

idx:1
address:서울
*args:(30, 40, 50)
**kwargs:{'학교': '구름대학교', '전공': '핀테크거서비스기획'}

In [174]:
def personal_info7(idx,*args,address="비공개",**kwargs):
    print(f"idx:{idx}")
    print(f"address:{address}")
    print(f"*args:{args}")
    print(f"**kwargs:{kwargs}")

In [181]:
personal_info7(1,"서울",0,40,50,학교="구름대학교",전공="핀테크거서비스기획")

idx:1
address:비공개
*args:('서울', 0, 40, 50)
**kwargs:{'학교': '구름대학교', '전공': '핀테크거서비스기획'}

# 함수의 doc string
* 함수 내부에 함수에 대한 설명을 적어 놓는것
* """ """ 얀에 작성
* 생략가능
* print(함수이름.__dco__)
* help(함수이름)

In [179]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [180]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [182]:
help(personal_info7)

Help on function personal_info7 in module __main__:

personal_info7(idx, *args, address='비공개', **kwargs)

In [183]:
def add(a,b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a+b

In [184]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [185]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

# 람다 표현식(lambda expression)
* 익명함수(함수 이름 없음)
* 간단한 함수를 작성하거나, 다른 함수의 인수로 함수를 넣을 때 사용
* 사용 후 메모리에서 삭제
* lambda 매개변수: return할 값, 계산식
* (lambda x : x+10)
* plus_five = lambda x: x+5
* plus_five(5) => lambda 함수를 변수에 저장하는 것은 지양 => def plus_five()로 만드는 것 권장

In [186]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x+10

In [187]:
plus_ten(5)

15

In [188]:
(lambda x: x+10)(5)

15

* 1에서 10까지 수 중에서 3의 배수만 문자열로 바꿔서 리스트로 출력하세요

In [189]:
def tostr(x):
    result=[]
    for i in x:
        if i %3--0:
            result.append(str(i))
        else:
            result.append(i)
    return result

In [190]:
tostr(list(range(1,11)))

['1', '2', 3, '4', '5', 6, '7', '8', 9, '10']

In [196]:
x=list(range(1,11))
result=[str(i) if i %3==0 else i for i in x]
print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

* map(함수, list/tuple)

In [197]:
list(map((lambda x: str(x) if x %3 ==0 else x),[1,2,3,4,5,6,7,8,9,10]))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [198]:
tostr2=(lambda x: str(x) if x %3 ==0 else x)

In [199]:
list(map(tostr2,[1,2,3,4,5,6,7,8,9,10]))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [201]:
list(map(int,input().split()))

1 2 3

[1, 2, 3]

### lambda 함수도 매개변수를 여러개 사용 가능

In [202]:
a=[1,2,3,4,5]
b=[2,4,6,8,10]
c=[3,6,9,12,15]

In [206]:
result=[]
for x, y, z in zip(a,b,c):
    print(x,y,z,":",x+y+z)
    result.append(x+y+z)
result

1 2 3 : 6
2 4 6 : 12
3 6 9 : 18
4 8 12 : 24
5 10 15 : 30

[6, 12, 18, 24, 30]

In [207]:
list(map((lambda x,y,z: x+y+z),a,b,c))

[6, 12, 18, 24, 30]

# 예외처리 try except
* 예외: 프로그램 실행중에 발생할 수 있는 오류
* 3/0: ZeroDivisionError => 숫자를 0으로 나눌 수 없기 때문에 나는 에러
* try-except 구문을 사용하면 예외상황에서도 프로그램이 중단되지 않게 할 수 있음

## 기본 문법

In [ ]:
try:
    #예외가 발생할 위험이 있는 코드
except Exception as e :
    print(e) #어떤 에러인지 출력
    #예외가 발생했을 때 실행할 코드
else: 
    #예외가 발생하지 않았을 때 실행할 코드
finally:
    #예외가 발생하든지 안 하든지 무조건 실행할 코드

* 파일 읽어올 때 encoding에러를 방지하는 예외처리

In [ ]:
file = ./data/com_kbstar_kbbank.json"

In [217]:
def read_csv(file):
        with open(file,'r') as f:
            data=f.read()
        print(e)   
    return data

In [212]:
read_csv(file)

NameError: name 'file' is not defined

In [219]:
# try except를 이용해 예외처리
def read_csv(file):
    try:
        with open(file,'r') as f:
            data=f.read()
    except Except as e:
        print(e)
         with open(file,'r',encoding='utf-8') as f:
        data=f.read()
    return data[:10]

IndentationError: unexpected indent (4157907464.py, line 8)

## 예외 처리방법 3가지
* try-except 구문으로 처리
* if else 조건 표현식 처리
* get, setdefault 같은 함수를 사용해 처리

* 학생들의 이름 리스트를 받아 해당 학생의 성적 출력하기

### try-except 구문으로 처리

In [220]:
# 학생정보
student_scores=dict(student=dict(alice=85,bob=92,mark=78))
student_scores

{'student': {'alice': 85, 'bob': 92, 'mark': 78}}

In [222]:
# 성적을 조회할 목록
names=['alice','david','mark','bob']

In [225]:
# 반복문을 이용해 성적 조회
for name in names:
    try:
        score=student_scores['student'][name]
        print(f"{name}:{score}")
    except Exception as e:
        print(f"{name}의 점수는 없습니다.")
    finally:
        print(f"{name}의 점수 조회가 완료되었습니다.")
        print()

alice:85
alice의 점수 조회가 완료되었습니다.

david의 점수는 없습니다.
david의 점수 조회가 완료되었습니다.

mark:78
mark의 점수 조회가 완료되었습니다.

bob:92
bob의 점수 조회가 완료되었습니다.

### 조건표현식을 사용한 예외처리

In [227]:
# 반복문을 이용해 성적 조회
for name in names:
    print(name)
    score=student_scores['student'][name] if name in student_scores['student'].keys() else "키 없음"
    print(f"{name}:{score}")

alice
alice:85
david
david:키 없음
mark
mark:78
bob
bob:92

In [228]:
# get 함수를 이용해서 처리하기
for name in names:
    print(name)
    score=student_scores['student'].get(name,f"{name}의 점수는 없습니다.")
    print(f"{name}:{score}")

alice
alice:85
david
david:david의 점수는 없습니다.
mark
mark:78
bob
bob:92