# 1~15: 기본적인 print() 사용

1.문제: print()를 사용하여 숫자 100을 출력하세요.

결과 값: 
```python
100
```

In [ ]:
print(100)

2.문제: print()를 사용하여 **문자열 "Hello Python"**을 출력하세요.

결과 값: 
```python
"Hello Python"
```

In [ ]:
print("Hello Python")

3.문제: print()를 사용하여 10과 20을 한 줄에 출력하세요.

결과 값: 
```python
10 20
```

In [ ]:
print(10,20)

4.문제: print()를 사용하여 10, 20, 30을 한 줄에 공백 없이 출력하세요.

결과 값: 

```python
102030
```

In [ ]:
print(10,20,30,sep="")

5.문제: print()를 사용하여 10, 20, 30을 -로 구분하여 출력하세요.

결과 값: 
```python
10-20-30
```

In [ ]:
print(10,20,30,sep="-")

6.문제: 두 개의 print() 문을 사용하되, 한 줄에 출력하세요.

결과 값: 
```python
Hello Python
```

In [ ]:
print("Hello", end=" ")
print("Python")

7.문제: print()를 사용하여 3 + 5의 결과를 출력하세요.

결과 값: 
```python
3 + 5: 8
```

In [ ]:
print(3,"+",5,":",3+5)

8.문제: print()를 사용하여 50 - 15의 결과를 출력하세요.

결과 값: 
```python
50 - 15: 35
```

In [ ]:
print(50,"-",15,":",50-15)

9.문제: print()를 사용하여 4 × 6의 결과를 출력하세요.

결과 값: 
```python
4 × 6: 24
```

In [ ]:
print(4,"*",6,":",4*6)

10.문제: print()를 사용하여 20을 4로 나눈 결과를 출력하세요.

결과 값: 
```python
5.0
```

In [ ]:
print(20/4)

11.문제: print()를 사용하여 20 을 3으로 나눈 몫을 출력하세요.

결과 값: 
```python
6
```

In [ ]:
print(20//3)

12.문제: print()를 사용하여 20을 3으로 나눈 나머지를 출력하세요.

결과 값: 
```python
2
```

In [ ]:
print(20%3)

13.문제: print()를 사용하여 2의 5제곱 결과를 출력하세요.

결과 값: 
```python
32
```

In [ ]:
print(2**5)

14.문제: print()를 사용하여 5 + 3 × 2의 결과를 출력하세요.

결과 값: 
```python
11
```

In [ ]:
print(5+3*2)

15.문제: print()를 사용하여 (5 + 3) × 2의 결과를 출력하세요.

결과 값: 
```python
16
```

In [ ]:
print((5+3)*2)

# 16~25: 다양한 출력 형식

16.문제: print()의 sep 매개변수를 사용하여 "apple-banana-cherry"를 출력하세요.

결과 값: 
```python
apple-banana-cherry
```

In [ ]:
print("apple", "banana","cherry",sep="-")

17.문제: print()의 end 매개변수를 사용하여 "Hello"와 "World"를 공백 없이 출력하세요.

결과 값: 
```python
HelloWorld
```

In [ ]:
print("Hello",end="")
print("World")

18.문제: print()를 사용하여 변수 a = 10, b = 20을 선언하고 a + b를 출력하세요.

결과 값: 
```python
a + b: 30
```

In [ ]:
a=10
b=20
print(a+b)

19.문제: print()를 사용하여 100을 3으로 나눈 결과를 정수형으로 출력하세요.

결과 값: 
```python
33
```

In [ ]:
print(int(100/3))

20.문제: print()를 사용하여 5개의 숫자를 한 줄에 공백(" ")으로 구분하여 출력하세요.

결과 값: 
```python
1 2 3 4 5
```

In [ ]:
print(1,2,3,4,5,sep=" ")

21.문제: print()를 사용하여 1부터 10까지의 합을 출력하세요.

결과 값: 
```python
55
```

In [ ]:
print(1+2+3+4+5+6+7+8+9+10)

22.문제: print()를 사용하여 1부터 5까지의 곱을 출력하세요.

결과 값: 
```python
120
```

In [ ]:
print(1*2*3*4*5)

23.문제: print()를 사용하여 "Python"을 3번 반복하여 출력하세요.

결과 값: 
```python
PythonPythonPython
```

In [ ]:
print("Python"*3)

24.문제: print()를 사용하여 숫자 10을 문자열과 함께 출력하세요.

결과 값: 
```python
The number is 10
```

In [ ]:
print("the number", "is", 10)

25.문제: 두개의 print()를 사용하여 
"Hello", 
"world"를 출력하되 결과가 "Hello world" 가 되도록 출력하세요.

결과 값: 
```python
Hello world
```

In [ ]:
print("Hello", end=" ")
print("world")

# 파이썬 자료형 연습문제 30개

26.문제: 변수 a에 정수 10을 저장하고 출력하세요.

결과 값: 
```python
10
```

In [ ]:
a=10
print(a)

27.문제: 변수 b에 실수 3.14를 저장하고 출력하세요.

결과 값: 
```python
3.14
```

In [ ]:
b=3.14
print(b)

28.문제: 변수 c에 문자열 "Python"을 저장하고 출력하세요.

결과 값: 
```python
Python
```

In [ ]:
c="Python"
print(c)

29.문제: 변수 d에 True 값을 저장하고 출력하세요.

결과 값: 
```python
True
```

In [ ]:
d=True
print(d)

30.문제: type() 함수를 사용하여 변수 b의 자료형을 출력하세요.

결과 값: 
```python
<class 'float'>
```

In [ ]:
print(type(b))

31.문제: len() 함수를 사용하여 문자열 "Hello World"의 길이를 출력하세요.

결과 값: 
```python
11
```

In [ ]:
len("Hello World")

32.문제: 문자열 "Python"에서 첫 번째 문자를 출력하세요.

결과 값: 
```python
P
```

In [ ]:
"Python"[0]

33.문제: 문자열 "Python"에서 마지막 문자를 출력하세요.

결과 값: 
```python
n
```

In [ ]:
"Python"[5]

34.문제: 문자열 "Python Programming"에서 "Programming"만 출력하세요.

결과 값: 
```python
Programming
```

In [ ]:
"Python Programming"[7:18]

35.문제: 문자열 "Python"을 3번 반복하여 출력하세요.

결과 값: 
```python
PythonPythonPython
```

In [ ]:
print("Python"*3)

36.문제: 리스트 numbers = [1, 2, 3, 4, 5]를 생성하고 출력하세요.

결과 값: 
```python
[1, 2, 3, 4, 5]
```

In [ ]:
numbers=[1,2,3,4,5]
print(numbers)

37.문제: 리스트 numbers의 첫 번째 요소를 출력하세요.

결과 값: 
```python
1
```

In [ ]:
numbers[0]

38.문제: 리스트 numbers의 마지막 요소를 출력하세요.

결과 값: 
```python
5
```

In [ ]:
numbers[4]

39.문제: 리스트 numbers의 길이를 출력하세요.

결과 값: 
```python
5
```

In [ ]:
len(numbers)

40.문제: 리스트 numbers에 숫자 6을 추가하고 출력하세요.

결과 값: 
```python
[1, 2, 3, 4, 5, 6]
```

In [ ]:
numbers.append(6)
print(numbers)

41.문제: 중첩 리스트 nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]를 생성하고 출력하세요.

결과 값: 
```python
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
```

In [ ]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

42.문제: nested_list에서 두 번째 리스트의 첫 번째 요소를 출력하세요.

결과 값: 
```python
4
```

In [ ]:
nested_list[1][0]

43.문제: nested_list에서 세 번째 리스트의 마지막 요소를 출력하세요.

결과 값: 
```python
9
```

In [ ]:
nested_list[2][2]

44.문제: 중첩 튜플 nested_tuple = ((1, 2), (3, 4, 5), (6, 7, 8, 9))을 생성하고 출력하세요.

결과 값: 
```python
((1, 2), (3, 4, 5), (6, 7, 8, 9))
```

In [ ]:
nested_tuple=((1,2),(3,4,5),(6,7,8,9))
print(nested_tuple)

45.문제: nested_tuple에서 두 번째 튜플의 두 번째 요소를 출력하세요.

결과 값: 
```python
4
```

In [ ]:
nested_tuple[1][1]

46.문제: person = {"name": "Alice", "info": {"age": 25, "city": "Seoul"}}을 생성하고 출력하세요.

결과 값: 
```python
{'name': 'Alice', 'info': {'age': 25, 'city': 'Seoul'}}
```

In [ ]:
person={"name":"Alece","info":{'age':25,"city":"Seoul"}}
print(person)

47.문제: person 딕셔너리에서 "age" 값을 출력하세요.

결과 값: 
```python
25
```

In [ ]:
person["info"]["age"]

48.문제: 복합 자료 구조 data를 생성하고 출력하세요.

결과 값:
```python
{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}
```

In [ ]:
data={"info": [{"name":"Alice","scores":(95,88,92)},{"name":"Bob","scores":(78,85,89)}],"extra":{"hobbies":["reading","coding"],"location":("Seoul","Busan")}}
print(data)

49.문제: data에서 "Alice"의 첫 번째 점수를 출력하세요.
결과 값: 
```python
95
```

In [ ]:
data["info"][0]["scores"][0]

50.문제: data에서 "Bob"의 마지막 점수를 출력하세요.
결과 값: 
```python
89
```

In [ ]:
data["info"][1]["scores"][2]

51.문제: data에서 "coding"을 출력하세요.

결과 값: 
```python
"coding"
```

In [ ]:
data["extra"]["hobbies"][1]

52.문제: data에서 "Busan"을 출력하세요.

결과 값: 
```python
"Busan"
```

In [ ]:
data["extra"]["location"][1]

53.문제: data에서 "Alice"의 전체 점수를 리스트로 변환하여 출력하세요.

결과 값: 
```python
[95, 88, 92]
```

In [ ]:
data["info"][0]["scores"]

54.문제: data에서 "Bob"의 평균 점수를 출력하세요.

결과 값: 
```python
84.0
```

In [ ]:
sum(data["info"][1]["scores"])/len(data["info"][1]["scores"])

55.문제: data에 새로운 키 "school": "XYZ High"를 추가하고 출력하세요.

결과 값: 
```python
{'info': [...], 'extra': {...}, 'school': 'XYZ High'}
```

In [ ]:
data["school"]=["XYZ High"]
print(data)

56.문제: data["extra"]["hobbies"]에 "gaming"을 추가하고 출력하세요.

결과 값: 
```python
['reading', 'coding', 'gaming']
```

In [ ]:
data["extra"]["hobbies"]=["gaming"]

57.문제: data에서 "Alice"의 두 번째 점수를 "90"으로 변경하고 출력하세요.

결과 값: 
```python
{'info': [{'name': 'Alice', 'scores': (95, 90, 92)}, ...]}
```

In [ ]:
data["info"][0]["scores"]=[(95,90,92)]
print(data)

58.문제: "Bob"의 첫 번째 점수를 출력하세요.

결과 값: 
```python
78
```

In [ ]:
data["info"][1]["scores"][0]

59."Alice"의 모든 점수의 합을 출력하세요.

결과 값: 
```python
277
```

In [ ]:
sum(data["info"][0]["scores"])

60.위의 자료에서 'Alice', 'coding', 'Seoul'을 추출하고 print()를 이용해 "Seoul에 사는 Alice는 coding을 좋아합니다"를 출력하세요.

결과 값:
```python
"Seoul에 사는 Alice는 coding을 좋아합니다"
```

In [ ]:
print(data["extra"]["location"][0],"에 사는",data["info"][0]["name"],"는",data["extra"]["hobbies"][1],"을","좋아합니다")