# 파이썬 시작하기(1-10)

In [5]:
print("Hello World")

Hello World

In [7]:
print("Mary's cosmetics")

Mary's cosmetics

In [8]:
print('신씨가 소리질렀다. "도둑이야".' )

신씨가 소리질렀다. "도둑이야".

In [14]:
print("C:\Windows")

C:\Windows

In [16]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄 바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [17]:
# 오늘은 일요일

In [19]:
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [20]:
print("firtst",end="");print("second")

firtstsecond

In [21]:
print(5/3)

1.6666666666666667

# 파이썬 변수(11-20)

In [23]:
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [25]:
시가총액=298000000000000
현재가=50000
per=15.79

In [27]:
s="hello"
t="python"
print(s,t)

hello python

In [28]:
2+2*3

8

In [29]:
a=128
print(type(a))

<class 'int'>

In [30]:
a="123"
print(type(a))

<class 'str'>

In [31]:
num_str="720"
num_str=int(num_str)
print(type(num_str))

<class 'int'>

In [32]:
num=100
num=str(num)
print(type(num))

<class 'str'>

In [33]:
문자="15.79"
문자=float(문자)
print(type(문자))

<class 'float'>

In [35]:
year="2020"
year=int(year)
print(year,year-1,year-2)

2020 2019 2018

In [36]:
월납부액=48584
n=36
총금액=월납부액*n
print(총금액)

1749024

# 파이썬 문자열(21-30)

In [39]:
letters="python"
letters[0],letters[2]

('p', 't')

In [41]:
license_plate="24가 2210"
license_plate[4:8]

'2210'

In [42]:
string="홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [43]:
string="python"
string[::-1]

'nohtyp'

In [45]:
phone_number="010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [46]:
phone_number.replace("-","")

'01011112222'

In [48]:
url="http://sharebook.kr"
url[17:20]

'kr'

In [49]:
lang="python"
lang[0]="P"
print(lang)
# 오류

TypeError: 'str' object does not support item assignment

In [50]:
string ="abcd"
string.replace("b","B")
print(string)
# abcd

abcd

# 파이썬 문자열(31-40)

In [51]:
a="3"
b="4"
print(a+b)
# 34

34

In [52]:
print("hi"*3)
# hihihi

hihihi

In [53]:
print("-"*80)

--------------------------------------------------------------------------------

In [55]:
t1="python"
t2="java"
t3=t1 + ' '+t2+" "
print(t3*4)

python java python java python java python java

In [56]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:%s 나이: %d" % (name1,age1))
print("이름:%s 나이: %d" % (name2,age2))

이름:김민수 나이: 10
이름:이철희 나이: 13

In [58]:
print("이름:",name1," 나이:",age1)
print("이름:",name2," 나이:",age2)

이름: 김민수  나이: 10
이름: 이철희  나이: 13

In [59]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [62]:
상장주식수 = "5,969,782,550"
컴마제거=상장주식수.replace(",","")
타입변환=int(컴마제거)
print(타입변환,type(타입변환))

5969782550 <class 'int'>

In [63]:
분기 = "2020/03(E) (IFRS연결)"
분기[0:7]

'2020/03'

In [65]:
data = "   삼성전자    "
data1=data.strip()
print(data1)

삼성전자

# 파이썬 문자열(41-50)

In [66]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [67]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [68]:
a = "hello"
a = a.capitalize()

Hello

In [69]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [71]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [72]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True