# 파이썬 모듈(241-250)

In [1]:
from datetime import datetime

In [5]:
now=datetime.now()
print(now)

2025-10-15 14:34:27.096291

In [6]:
print(now,type(now))

2025-10-15 14:34:27.096291 <class 'datetime.datetime'>

In [9]:
import datetime
for day in range(5,0,-1):
    delta=datetime.timedelta(days=day)
    date=now-delta
    print(date)

2025-10-10 14:34:27.096291
2025-10-11 14:34:27.096291
2025-10-12 14:34:27.096291
2025-10-13 14:34:27.096291
2025-10-14 14:34:27.096291

In [10]:
from datetime import datetime

In [15]:
now=datetime.now()
print(now.strftime("%H:%M:%S"))

14:50:38

In [18]:
now=datetime.strptime("2020-05-04","%Y-%m-%d")
print(now,type(now))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [20]:
import time
while True:
    now=datetime.now()
    print(now)
    time.sleep(1)

2025-10-15 14:55:18.346690
2025-10-15 14:55:19.348938
2025-10-15 14:55:20.359942
2025-10-15 14:55:21.369358
2025-10-15 14:55:22.372266
2025-10-15 14:55:23.386574
2025-10-15 14:55:24.396707
2025-10-15 14:55:25.410665
2025-10-15 14:55:26.426348
2025-10-15 14:55:27.428434
2025-10-15 14:55:28.438020
2025-10-15 14:55:29.451578
2025-10-15 14:55:30.464863

KeyboardInterrupt:

In [23]:
import os
ret=os.getcwd()
print(ret,type(ret))

c:\fintech3\04python <class 'str'>

In [25]:
import numpy
for i in numpy.arange(0,5,0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

# 파이썬 클래스(251-260)

In [26]:
class Human:
    pass

In [27]:
class Human:
    pass
areum=Human()

In [28]:
class Human:
    def __init__(self):
        print("응애응애")
areum=Human()

응애응애

In [32]:
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
areum=Human("아름",25,"여자")
areum.name

'아름'

In [34]:
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name,self.age,self.sex))
        
areum=Human("아름",25,"여자")
areum.who()

이름:아름 나이:25 성별:여자

In [ ]:
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name,self.age,self.sex))
    def setInfo(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex

In [35]:
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print("이름:{} 나이:{} 성별:{}".format(self.name,self.age,self.sex))
    def setInfo(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def __del__(self):
        print("나의 죽음을 알리지마라")

In [36]:
areum=Human("아름",25,"여자")
del(areum)
areum.who

나의 죽음을 알리지마라

NameError: name 'areum' is not defined

# 파이썬 클래스(261-270)

In [1]:
class stock:
    pass

In [7]:
# 262, 266
class stock:
    def __init__(self,name,code,per,pbr,dividend):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.dividend=dividend
# 263
    def set_name(self,name):
        self.name=name
#264
    def set_code(self,code):
        self.code=code
#265    
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
# 268
    def set_per(self,per):
        self.per=per
    def set_per(self,pbr):
        self.pbr=pbr
    def set_per(self,dividend):
        self.dividend=dividend
# 267    
ss=stock("삼성전자","005930",15.79,1.33,2.83)
# 269
ss.set_per(12.75)
print(ss.per)

15.79

In [12]:
stocks=[]
ss=stock("삼성전자","005930",15.79,1.33,2.83)
hd=stock("현대차","005380",8.70,0.35,4.27)
lg=stock("LG전자","066570	",317.34,0.69,1.37)

stocks.append(ss)
stocks.append(hd)
stocks.append(lg)

for i in stocks:
    print(i.code,i.per)

005930 15.79
005380 8.7
066570	 317.34

# 파이썬 리스트(271-280)

In [22]:
import random

class Account:
    account_count=0
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
        self.bank="SC 은행"
        num1=random.randint(0,999)
        num2=random.randint(0,99)
        num3=random.randint(0,99999)
        
        num1=str(num1).zfill(3)
        num2=str(num2).zfill(2)
        num3=str(num3).zfill(6)
        self.account_number=num1+'-'+num2+'-'+num3
        # 272
        Account.account_count +=1
        
    # 273
    @classmethod
    def get_account_num(cls):
        print(cls.account_count)
    
    # 274
    def deposit(self,amount):
        if amount>=1:
            self.balance+=amount
    # 277
            self.deposit_count +=1
            if self.deposit_count %5==0:
                self.balance=(self.balance*1.01)
    #275
    def withdraw(self,amount):
        if amount<=self.balance:
            self.balance-=amount
    # 276
    def display_info(self):
        print("은행이름: ",self.bank)
        print("예금주: ",self.name)
        print("계좌번호: ",self.account_number)
        print("잔고: ",self.balance,"원")
    #280
    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)
    def desposit_history(self):
        for amount in self.deposit_log:
            print(amount)
    
          

# 271
# yoon=Account("윤하영",100)
# print(yoon.name)
# print(yoon.balance)
# print(yoon.bank)
# print(yoon.account_number)
# kim=Account("김민수",100)
# print(Account.account_count)
# kim.get_account_num()
# y=Account("yoon",100)
# y.deposit(100)
# y.withdraw(90)
# print(y.balance)

# y.display_info()
# 278
# data=[]
# k=Account("kim",100000)
# l=Account("lee",1000)
# p=Account("park",1000)

# data.append(k)
# data.append(l)
# data.append(p)
# print(data)

# 279
for i in data:
    if i.balance>=10000:
        i.display_info()

은행이름:  SC 은행
예금주:  kim
계좌번호:  626-14-074947
잔고:  100000 원

# 파이썬 클래스(281-290)

In [15]:
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격
car=차(2,1000)
print(car.바퀴)

2

In [20]:
class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        super().__init__(바퀴,가격)
        self.구동계=구동계

In [22]:
bicycle=자전차(2,100,"시마노")
bicycle.구동계

'시마노'

In [23]:
class 자동차(차):
    def 정보(self):
        print("바퀴수",self.바퀴)
        print("가격",self.가격)
car=자동차(4,1000)
car.정보()

바퀴수 4
가격 1000

In [25]:
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격
    def 정보(self):
        print("바퀴수",self.바퀴)
        print("가격",self.가격)
class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        super().__init__(바퀴,가격)
        self.구동계=구동계
class 자동차(차):
    def __init__(self,바퀴,가격):
        super().__init__(바퀴,가격)
        
bicycle=자전차(2,100,"시마노")
bicycle.정보()

바퀴수 2
가격 100

In [26]:
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴=바퀴
        self.가격=가격
    def 정보(self):
        print("바퀴수",self.바퀴)
        print("가격",self.가격)
class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        super().__init__(바퀴,가격)
        self.구동계=구동계
    def 정보(self):
        super().정보()
        print("구동계",self.구동계)
class 자동차(차):
    def __init__(self,바퀴,가격):
        super().__init__(바퀴,가격)
        
bicycle=자전차(2,100,"시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [27]:
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [29]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
나 = 자식()

자식생성

In [30]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

# 파일 입출력과 예외처리(291-300)

In [32]:
f = open("C:/Users/admin/Desktop/매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [33]:
f = open("C:/Users/admin/Desktop/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [36]:
import csv
f = open("C:/Users/admin/Desktop/매수종목.csv", mode="wt", encoding="cp949",newline='')
writer=csv.writer(f)
writer.writerow(['종목명','종목코드','PER'])
writer.writerow(['삼성전자','005930',15.59])
writer.writerow(['종목명','035420',55.82])
f.close()

In [38]:
f = open("C:/Users/admin/Desktop/매수종목1.txt", encoding="utf-8")
lines = f.readlines()   

codes = []
for line in lines:
    code = line.strip() 
    codes.append(code)

print(codes)

f.close()

['005930', '005380', '035420']

In [39]:
f = open("C:/Users/admin/Desktop/매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     
    k,v = line.split()
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [41]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [43]:
per = ["10.31", "", "8.00"]
f_per=[]
for i in per:
    try:
        f_per.append(float(i))
    except:
        f_per.append(0)
per

['10.31', '', '8.00']

In [44]:
try:
    b=3/0
except ZeroDivisionError:
    print("0으로 나누면 안 돼요")

0으로 나누면 안 돼요

In [46]:
try:
    data = [1, 2, 3]

    for i in range(5):
        print(data[i])
except IndexError as e:
    print(e)

1
2
3
list index out of range

In [47]:
per = ["10.31", "", "8.00"]
for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료