## 리스트 만들기
* 대괄호 안에 자료를 나열해서 만듬
* 내용이 비어있는 리스트도 생성 가능[]
* 자료가 1개만 있는 리스트도 생성 가능
* 숫자로만 된 리스트의 경우 range()와 list 형변환 함수로 생성 가능

In [3]:
# 빈 리스트 만들기
l1=[]
l1

[]

In [4]:
print(l1,len(l1),type(l1))

[] 0 <class 'list'>

In [7]:
# 대괄호 안에 자료를 나열해서 만들기
l2=[1,2,3,3.5,"리스트",(4,5,6),{"key":"value"}]

In [8]:
print(l2, type(l2))

[1, 2, 3, 3.5, '리스트', (4, 5, 6), {'key': 'value'}] <class 'list'>

## range함수로 리스트 만들기
* range(시작번호, 끝번호+1, step)

In [11]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [12]:
# 4의 배수로 리스트 만들기
list(range(4,101,4))

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [13]:
# 역순으로 리스트 만들기
list(range(100,1,-4))

[100,
 96,
 92,
 88,
 84,
 80,
 76,
 72,
 68,
 64,
 60,
 56,
 52,
 48,
 44,
 40,
 36,
 32,
 28,
 24,
 20,
 16,
 12,
 8,
 4]

# 리스트 함수

## .append()로 자료 추가

In [15]:
l1.append(3.5)
l1

[3.5, 3.5]

In [16]:
l1.append([1,2,3])

In [18]:
l1.append((4,5,6))
l1

[3.5, 3.5, [1, 2, 3], (4, 5, 6)]

## .insert() 특정 위치에 자료 추가
* insert(추가할 위치의 인덱스, 추가할 값)

In [19]:
#l1의 인덱스 3번에 True
l1.insert(3,True)
l1

[3.5, 3.5, [1, 2, 3], True, (4, 5, 6)]

## 리스트의 자료 삭제하기
* del 변수명.[인덱스 번호].: 해당 인덱스의 자료 삭제
* pop(): 리스트의 가장 끝 자료가 출력되면서 삭제
* remove(값): 리스트의 앞에서부터 입력한 값과 일치하는 값을 찾아서 삭제(정수, 실수 구분 X)

In [20]:
del l1[2]
l1

[3.5, 3.5, True, (4, 5, 6)]

In [21]:
l1.pop()
l1

[3.5, 3.5, True]

In [22]:
l1.insert(0,3.0)
l1

[3.0, 3.5, 3.5, True]

In [25]:
l1.remove(3.5)
l1

[3.5, True]

#

In [26]:
l1.remove(3)
l1

ValueError: list.remove(x): x not in list

## 리스트 확장하기.extend()
* 리스트에 자료를 추가하되 요소만 추가

In [28]:
a=[1,2,3]
b=[4,5,6]

In [30]:
# append는 리스트 형태 그대로 리스트에 추가 됨
a.append(b)
a

[1, 2, 3, [4, 5, 6], [4, 5, 6]]

In [31]:
# extend는 리스트형태 없이 자료만 추가
b.extend([7,8,9])
b

[4, 5, 6, 7, 8, 9]

In [32]:
b[4]

8

## list + list == extend()

In [33]:
a=[1,2,3]
b=[4,5,6]

In [34]:
a+b

[1, 2, 3, 4, 5, 6]

## 리스트 안에서 원하는 값의 인덱스 찾기
* in, not in : 리스트 안에서 원하는 값이 있는지 확인 True/False
* 원하는 값이 있는 위치를 찾을 때 .index(찾을 값, 시작 인덱스) - 가장 앞의 인덱스만 반환
* 동일한 값이 여러개 있는 경우 가장 앞의 인덱스 반환
* 2번째 이상의 자료를 찾으려면 옵션에 시작 인덱스를 지정하면 됨

In [36]:
a=[1,2,3,[3,4,5,6,7,9],[4,5,6,7,8,9],3,4,5,7,8,9]
a

[1, 2, 3, [3, 4, 5, 6, 7, 9], [4, 5, 6, 7, 8, 9], 3, 4, 5, 7, 8, 9]

In [37]:
4 in a

True

In [38]:
a.index(4)

6

In [39]:
a.remove(4)
a

[1, 2, 3, [3, 4, 5, 6, 7, 9], [4, 5, 6, 7, 8, 9], 3, 5, 7, 8, 9]

In [40]:
4 in a

False

In [41]:
4 in a[3]

True

In [42]:
a.index(3,3)

5

## 리스트 안에서 특정 값의 개수 구하기 .count()

In [43]:
a

[1, 2, 3, [3, 4, 5, 6, 7, 9], [4, 5, 6, 7, 8, 9], 3, 5, 7, 8, 9]

In [45]:
a[3].count(3)

1

## 리스트 순서 뒤집기 
* .reverse():실행 즉시 원본 데이터 변경
* reversed(리스트): 재할당을 해야 저장
* 리스트[::-1]: 역인덱싱으로 뒤집기

In [46]:
a.reverse()

In [47]:
a

[9, 8, 7, 5, 3, [4, 5, 6, 7, 8, 9], [3, 4, 5, 6, 7, 9], 3, 2, 1]

In [48]:
a.reverse()
a

[1, 2, 3, [3, 4, 5, 6, 7, 9], [4, 5, 6, 7, 8, 9], 3, 5, 7, 8, 9]

In [49]:
a[::-1]

[9, 8, 7, 5, 3, [4, 5, 6, 7, 8, 9], [3, 4, 5, 6, 7, 9], 3, 2, 1]

In [50]:
a

[1, 2, 3, [3, 4, 5, 6, 7, 9], [4, 5, 6, 7, 8, 9], 3, 5, 7, 8, 9]

In [53]:
a=list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
list(reversed(a))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 리스트 정렬
* .sort(): 오름차순 - 실행 후 바로 저장
* .sort(reverse=True): 내림차순 - 실행 후 바로 저장
* sorted(리스트): 오름차순 - 재할당 필요
* sorted(reverse=True): 내림차순 - 재할당 필요

In [55]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
a.sort(reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
a=sorted(a)

In [60]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
a=sorted(a, reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 튜플 tuple
* 튜플은 리스트처럼 모든 자료형을 넣어 만들 수 있다.
* 순서가 있는 자료형, 인덱스가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 안 됨
* 자료 1개만 넣어서 만들 수 있음 단, (1,) 형식이어야 함
* 튜플 생성시 자료가 2개 이상인 경우 () 생략 가능

In [62]:
t=(1,)
t

(1,)

In [63]:
t0=()
print(t0,type(t0))

() <class 'tuple'>

In [68]:
t1=(1,2,3)
t2=(4,5,6)

## 튜플 + 튜플 = 두개의 튜플 요소가 하나로 합쳐짐

In [70]:
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

In [72]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [73]:
t3[0]=10

TypeError: 'tuple' object does not support item assignment

## index() 튜플 내에서 특정 값의 인덱스 찾기

In [74]:
t3.index(5)

4

In [75]:
t3

(1, 2, 3, 4, 5, 6)

## count()튜플 내에 특정 값의 개수 세기

In [77]:
t4=(1,2,3)

In [78]:
t3=t3+t4
t3

(1, 2, 3, 4, 5, 6, 1, 2, 3)

In [79]:
t3.count(3)

2

## 튜플의 내용을 변경하거나 추가 삭제하고 싶을 때
* list로 형변환 후 자료를 추가, 삭제, 변경하고 다시 tuple로 변환

In [80]:
t3=list(t3)
t3

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [81]:
t3[0]=10
t3.append((1,2,3))
t3

[10, 2, 3, 4, 5, 6, 1, 2, 3, (1, 2, 3)]

In [82]:
t3=tuple(t3)
t3

(10, 2, 3, 4, 5, 6, 1, 2, 3, (1, 2, 3))

## 괄호를 생략하고 튜플 만들기

In [83]:
t5="튜플", "괄호없이", "만들기",1,2,3,
t5

('튜플', '괄호없이', '만들기', 1, 2, 3)

## 리스트/튜플 곱셈으로 반복하기
* 리스트* 숫자= 리스트의 안의 요소가 숫자만큼 복사된다

In [84]:
"="* 50

'=================================================='

In [85]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [86]:
t5*3

('튜플',
 '괄호없이',
 '만들기',
 1,
 2,
 3,
 '튜플',
 '괄호없이',
 '만들기',
 1,
 2,
 3,
 '튜플',
 '괄호없이',
 '만들기',
 1,
 2,
 3)

## 리스트/튜플 연산 함수 사용하기
* sum(): 덧셈
* max(): 최대값
* min(): 최소값

In [90]:
a=list(range(1,51))
b=tuple(range(100,50,-1))

In [88]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [91]:
b

(100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51)

In [92]:
sum(a)

1275

In [93]:
sum(b)

3775

In [94]:
max(a)

50

In [96]:
min(b)

51

# 시퀀스 객체(순서가 있는 자료들)
* 문자열
* list
* tuple
* 시퀀스 객체는 순서가 있는 자료를 말한다.
* 시퀀스 객체는 반복문에서 사용이 가능
* 시퀀스 객체 + 시퀀스 객체=요소가 하나로 합쳐진다.
* 시퀀스 객체 * 숫자= 요소가 숫자의 배수로 복사 증가한다.
* 시퀀스 객체 내의 값은 in, not in 으로 찾을 수 있다.

In [97]:
"문자"+"열"

'문자열'

In [98]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [99]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [100]:
"="*10

'=========='

In [101]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [102]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [103]:
"길동이" in "홍길동이"

True

In [104]:
3 in [1,2,3]

True

In [106]:
3 not in (1,2,3)

False

In [107]:
for i in "문자열도 시퀀스 객체라서 반복문에서 사용이 가능하다": 
    print(i)

문
자
열
도

시
퀀
스

객
체
라
서

반
복
문
에
서

사
용
이

가
능
하
다

In [108]:
for i in[1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [109]:
for i in(1,2,3,4,5):
    print(i)

1
2
3
4
5