# 반복문 for, while
* 반복문은  동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for **반복 횟수가 정해져 있는 경우** 사용
* while은 **반복 횟수가 정해져 있지 않은 경우** 사용(무한 반복)

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리):<br>
____반복할 코드

### 숫자 생성 함수 range(시작, 끝, step)

In [4]:
#for 문을 이용해서 tntwk 1-10 출력
for num in range(1,11):
    print(num, end="  ")

1  2  3  4  5  6  7  8  9  10

### 반복문에서 사용할 수 있는 자료형

- 문자열

In [5]:
for i in "파이썬은 문자열을 반복문에 넣어서 출력 가능":
    print(i)

파
이
썬
은

문
자
열
을

반
복
문
에

넣
어
서

출
력

가
능

_ 리스트/튜플

In [8]:
l1=[1,2,3,4.5,"리스트",[1,2,3],(4,5,6),{"key":"value"}]
t1=tuple(l1)
print(type(l1),type(t1))
print(l1)
print(t1)

<class 'list'> <class 'tuple'>
[1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'value'}]
(1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [9]:
# 리스트를 반복문에 넣어서 요소를 하나씩 출력
for i in l1:
    print(i)

1
2
3
4.5
리스트
[1, 2, 3]
(4, 5, 6)
{'key': 'value'}

In [12]:
# 튜플을 반복문에 넣어서 요소를 하나씩 출력
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

In [34]:
d=dict(이름= "홍길동",나이=40,주소= "서울",전화번호="010-1111-1111")
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [35]:
# 딕셔너리는 lin을 사용시 key의 개수가 출력됨
len(d)

4

In [36]:
# 딕셔너리를 반복문에 넣으면 딕셔너리의 key가 출력
for i in d:
    print(i)

이름
나이
주소
전화번호

In [37]:
# key를 이용해 value를 출력
for i in d:
    print(d[i])
    print(d.get(i,"key없음"))

홍길동
홍길동
40
40
서울
서울
010-1111-1111
010-1111-1111

In [38]:
#딕셔너리 함수인 values()
d.values()
print(type(d.values()))

<class 'dict_values'>

In [39]:
for i in d. values():
    print(i)

홍길동
40
서울
010-1111-1111

In [40]:
# 딕셔너리의 key와 value를 동시에 출력
for i in d.items():
    print(i)

('이름', '홍길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-1111-1111')

In [41]:
for k,v in d.items():
    print(f"key:{k},value:{v}")

key:이름,value:홍길동
key:나이,value:40
key:주소,value:서울
key:전화번호,value:010-1111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요

In [48]:
hap=0
for num in range(1,11): 
    hap=hap+num
print(hap)

55

* 1에서 50 사이의 숫자중에서 짝수만 더한 합을 구하세요
    * 숫자를 1-50사이로 생성
    * 짝수인지 판별 if
    * hap 변수에 짝수만 합하기
    * 합계 출력하기

In [60]:
hap=0
for num in range(1,51):
   #  print(num,end="  ")
    if num %2==0:
        hap=hap+num 
        # hap += num
    # print(f"hap:{hap},num:{num}")
print(hap)

650

### 반복문에 사용할 자료를 일부 구간만 사용하기

* 슬라이싱

* 1부터 100까지 숫자를 생성하고 그 중에서 30-70까지만 더해서 출력하세요.

In [66]:
# if 조건문을 이용해서 필터링
hap=0
for num in range(1,101):
    # print(num,end=" ")
    if 30<=num<=70:
        hap+=num
        # print(f"num:{num}, hap:{hap}")
print(hap)

2050

In [68]:
# 슬라이싱 활용
hap=0
for num in range(1,101)[29:70]:
     hap+=num
    # print(num,end=" ")
    
print(hap)

2050

* 1-100까지 숫자중에서 짝수만 합 구하기(슬라이싱 이용)

In [70]:
# 슬라이싱 활용
hap=0
for num in range(1,101)[1::2]:
     hap+=num
    # print(num,end=" ")
    
print(hap)

2550

* 1에서 100까지 숫자를 생성하고 역순으로 출력하기

In [75]:
# 슬라이싱으로/ range 함수에서 / reverse 함수로
for num in range(1,101)[::-1]:
# for num in range(101,1,-1):
# for num in reverse(range(1,101)):
# for num in sorted(range(1,101),reverse=True)
    print(num,end="  ")

100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

### enumerate()반복문에서 자료의 인덱스를 만들어주는 함수

In [77]:
s="enumerate 함수는 반복문에서 index를 만들어 출력해주는 함수입니다."

In [78]:
import time

In [83]:
for idx, i in enumerate(s):
  #  print(idx,i)
    if idx %3==0:
        print(i,end=" ")

e m a   는 복 서 n x 만   해   입 .

In [86]:
for idx, i in enumerate(s):
    print(f"{idx+1}/{len(s)} 실행중", end="\r")
    time.sleep(0.1)

In [88]:
for i in enumerate(s):
    print(i)
    time.sleep(0.1)

(0, 'e')
(1, 'n')
(2, 'u')
(3, 'm')
(4, 'e')
(5, 'r')
(6, 'a')
(7, 't')
(8, 'e')
(9, ' ')
(10, '함')
(11, '수')
(12, '는')
(13, ' ')
(14, '반')
(15, '복')
(16, '문')
(17, '에')
(18, '서')
(19, ' ')
(20, 'i')
(21, 'n')
(22, 'd')
(23, 'e')
(24, 'x')
(25, '를')
(26, ' ')
(27, '만')
(28, '들')
(29, '어')
(30, ' ')
(31, '출')
(32, '력')
(33, '해')
(34, '주')
(35, '는')
(36, ' ')
(37, '함')
(38, '수')
(39, '입')
(40, '니')
(41, '다')
(42, '.')

###continue/break
* continue: 코드 실행을 건너 뛰고 반복 계속 진행
* break: 특정 조건이 되었을 때 반복문 정지

In [93]:
for idx,i in enumerate(s):
    if idx %2 ==0:
        continue
        print(idx,i)
    else:
        if idx>19 : 
            break
        print(idx,i)

1 n
3 m
5 r
7 t
9
11 수
13
15 복
17 에
19

In [97]:
# 1-100에서 숫자를 생성하고 홀수만 합계를 구하세요.
# 짝수면 짝수만 모인 리스트를 만들고 출력하세요.
# 숫자가 70을 초과하면 멈추세요
hap=0
even=[]
for i in range(1,101):
    if i >70:
        break
    else:
        if i %2!= 0:
            hap+=i
        else:
            even.append(i)
print(f"홀수의 합:{hap}")
print(f"짝수의 리스트:{even}")

홀수의 합:1225
짝수의 리스트:[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

## while: 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요

변수 선언 및 초기회 num=0<br>
while 조건식:<br>
    반복할 코드<br<
    변수증가/감소 코드<br>
    반복문이 종료되는 조건 + break

* while 문으로 1-10까지 출력하기

In [ ]:
i = 1
while i <=10:
    print(i,end=" ")
    i+=1

In [ ]:
i = 1
while i <=10:
    print(i,end=" ")
    i+=1
    if i >10:
        break
    1+=i=1

1-5=까지 수 중에서 3배 배수이거나 짝수인 값을 찾아서 합체를 하게 출렦해주세요

In [ ]:
i=1
wap()
wile(i)<=50

In [ ]:
i=1
hap=
while i <=50
if i%3==0or 0 or i%2==0:
    hap+=1
    print(f"i:{i},hap:{hap}")
i+=1
print(hap)

### while의 무한반복
* while 뒤의 조건이 True인 경우 무한번복
* while문 내에서 if 조건문으로 break를 걸처주어야 멈춤
* True가 되는 조건: True, 1, 정수, 실수, 문자열, list 등 자료가 들어있는 모들 변수나 자료
* False가 되는 조건: False, 0, 0.0,"",''[],(),{}

In [ ]:
i=True
while =1
    print(i,"무한 반복")
    i+=1

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용
* 시계의 원리와 같음
* 초 60 -> 1분 , 60분-> 1시간, 24시간->하루
* 안쪽 반복문이 끝난 후 바깥쪽 반복문이 실행
* 아날로그 시계의 초침-> 분침-> 시침

### 구구단 만들기 2중 중첩 for문으로 작성
* 2단 - 9단
* 각 단마다 1-9
* 2 * 1 = 2
* 2 * 2 = 4

In [7]:
# 2단 - 9단
for num1 in range(2,10):
    #print(num1)
    pass
    for num2 in range(1,10):
        print(f"{num1} * {num2} = {num1 * num2}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 3개로 시계 만들기
* 초:00-59
* 분:00-59
* 시:00-23
import time
time.sleep(0.1)
* 00:00:00 23:59:59

In [ ]:
for hour in range(0,24):
    for minute in range(0,60):
        for second in range(0,60):
             print(f"{hour:02d}:{minute:02d}:{second:02d}",end="\r")
             import time 
             time.sleep(0.0001)

### 중첩 반복문을 이용해서 다중 리스트 출력하기

In [25]:
l1=[]

In [34]:
l2=["오",1,2,3,4,5]

In [35]:
l1.append(l2)
l1

[['일', 1, 2, 3, 4, 5],
 ['이', 1, 2, 3, 4, 5],
 ['삼', 1, 2, 3, 4, 5],
 ['사', 1, 2, 3, 4, 5],
 ['오', 1, 2, 3, 4, 5]]

In [41]:
result=[]
for i in l1:
    for j in i:
        result.append(j)
print(result,end=" ")

['일', 1, 2, 3, 4, 5, '이', 1, 2, 3, 4, 5, '삼', 1, 2, 3, 4, 5, '사', 1, 2, 3, 4, 5, '오', 1, 2, 3, 4, 5]