# 파이썬 함수(201-210)

In [2]:
def print_coin():
    print("비트코인")

In [3]:
print_coin()

비트코인

In [7]:
def print_coin():
    for i in range(1,101):
        print("비트코인")

In [8]:
hello()
def hello():
    print("Hi")
#오류가 나는 이유= hello가 정의되기 전에 호출되어서

NameError: name 'hello' is not defined

In [9]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()
# 결과는 A B C A B일 것이다

A
B
C
A
B

In [10]:
print("A")

def message() :
    print("B")

print("C")
message()
# 결과는 A C B일 것이다

A
C
B

In [11]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
# 결과는 A C B E D

A
C
B
E
D

In [12]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
# B A

B
A

In [13]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
# B C B C B C A

B
C
B
C
B
C
A

# 파이썬 함수(211~220)

In [14]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
# 안녕 Hi

안녕
Hi

In [15]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
# 7 15

7
15

In [17]:
def 함수(문자열) :
    print(문자열)
함수()
# 문자열을 입력하지 않아서

TypeError: 함수() missing 1 required positional argument: '문자열'

In [18]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 정수가 아닌 문자열 입력

TypeError: can only concatenate str (not "int") to str

In [22]:
def print_with_smile(string) :
    print(string+":D")

In [25]:
print_with_smile("안녕하세요")

안녕하세요:D

In [28]:
def print_upper_price(price):
    print(price*1.3)

In [29]:
def print_sum(a,b):
    print(a+b)

In [31]:
def print_arithmetic_operation(a,b):
    print(a,"+",b,"=",a+b)
    print(a,"-",b,"=",a-b)
    print(a,"*",b,"=",a*b)
    print(a,"/",b,"=",a/b)
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [35]:
def print_max(a,b,c):
    if a>=b and a>=c:
        print(a)
    elif b>=a and b>=c:
        print(b)
    else:
        print(c)

# 파이썬 함수(221~230)

In [43]:
def print_reverse(string):
    print(string[::-1])

In [45]:
a=[1,2,3]
def print_score(lists):
    print(sum(lists)/len(lists))
print_score(a)

2.0

In [46]:
def print_even(lists):
    for i in lists:
        if i %2==0:
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

In [48]:
def print_keys(dicts):
    for i in dicts.keys():
        print(i)
print_keys({"이름":"김말똥","나이":30,"성별":0})

이름
나이
성별

In [50]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(lists,key):
    print(lists[key])
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

In [56]:
def print_5xn(string):
    count_num=int(len(string)/5)
    for i in range(count_num+1):
        print(string[i*5:i*5+5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [57]:
def printmxn(string,num):
    count_num=int(len(string)/num)
    for i in range(count_num+1):
        print(string[i*num:i*num+num])
printmxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [60]:
def calc_monthly_salary(annual_pay):
    monthly_pay=int(annual_pay/12)
    print(monthly_pay)
calc_monthly_salary(12000000)

1000000

In [61]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# 왼쪽:100 오른쪽:200으로 나올 것이다

왼쪽: 100
오른쪽: 200

In [62]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
# 왼쪽:200 오른쪽:100으로 나올 것이다

왼쪽: 200
오른쪽: 100

# 파이썬 함수(231~240)

In [64]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 에러발생

NameError: name 'result' is not defined

In [66]:
def make_url(string):
    print("www."+string+".com")
make_url("naver")

www.naver.com

In [74]:
lists=[]
def make_list(string):
    for i in range(len(string)):
        lists.append(string[i])
    print(lists)
make_list("abcd")

['a', 'b', 'c', 'd']

In [76]:
even=[]
def pickup_even(lists):
    for i in lists:
        if i%2==0:
           even.append(i)
pickup_even([3,4,5,6,7,8])
even

[4, 6, 8]

In [78]:
def covert_int(num):
    return int(num.replace(',',''))
covert_int("1,234,567")

1234567

In [79]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
# 22일 것 같다

22

In [80]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
# 22일 것 같다

22

In [81]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
# 140일 것 같다

140

In [82]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
# 16일 것 같다

16

In [83]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
#28 일 것 같다

28